* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
}